:root {
  --white: #fff;
  --black: #121417;

  --button: #3470ff;
  --accent-button: #0b44cd;

  --accent-filter-text: #8a8a89;
  --filter-dropdown-text: rgba(18, 20, 23, 0.2);
  --accent-filter: #f7f7fb;

  --main-text: #121417;
  --accent-text: rgba(18, 20, 23, 0.5);
  --accent-text-tr: rgba(18, 20, 23, 0.1);

  --modal-img-bg: #f3f3f2;
  --modal-accent-bg: #f9f9f9;
  --modal-accent-text: #363535;
}
