/* @import-normalize; /* bring in normalize.css styles */
@import url(./css/modern-normalize.css);
@import url(./css/variables.css);

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  color: #121417;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  background-color: var(--white-color);
  font-family: Manrope, sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
